.adoptable{
    width:250px;

    -moz-box-shadow: 10px 10px 0px rgb(212, 189, 205);
    -webkit-box-shadow: 10px 10px 0px rgb(212, 189, 205);
        box-shadow: 10px 10px 0px rgb(212, 189, 205); 
    
   
}

ul {
    padding-left:400px;
    padding-right:400px;
    font-family: 'Playfair Display', serif;
    font-size:20px;
    
    
}

